.footer {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-link img {
  width: 30px;
  height: auto;
}

.footer-link:hover img {
  transform: scale(1.1);
}
