#calculadora_finos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#calc_values {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;

}

#calc_values label {
    font-weight: bold;
}

#calc_values input {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    width: 70px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


#calculadora_finos #result_box{
    width: auto;
    padding: 10px;
    height: 50px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

#calculadora_finos #calc_button{
    background-color: #FA9020;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
}
#calculadora_finos #calc_button:hover{
    background-color: #FA9020;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    width: 130px;
    height: 40px;
    font-size: smaller;
}