.lista-grupos {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.card,
.card-button {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #333 !important;
  color: white !important;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 100px;
  overflow: hidden;
  text-align: left;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.card-button {
  box-sizing: border-box;
}

.card-button:hover {
  background-color: #D4AF37 !important;
  color: #000000 !important;
  width: 100%;
  height: 100px;
  padding: 15px;
  border: none;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.criarGrupo-button {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	touch-action: manipulation;
  margin: 30px auto;
  display: block;
}

.criarGrupo-button:hover {
	background-color: #D4AF37;
}

.criarGrupo-button:active {
	box-shadow: #422800 2px 2px 0 0;
}